<div class="center-stuff">
  <div >hi</div>
</div>


<hr>



<div class="container">
  <div class="row">
    <div class="col-md-3 "><div class="border bg-primary">1</div></div>
    <div class="col-md-3 "><div class="border bg-primary">2</div></div>
    <div class="col-md-3 "><div class="border bg-primary">3</div></div>
    <div class="col-md-3 "><div class="border bg-primary">4</div></div>
  </div>
  <div class="row gx-0">
    <div class="col-md-3 "><div class="border bg-primary">1</div></div>
    <div class="col-md-3 "><div class="border bg-primary">2</div></div>
    <div class="col-md-3 "><div class="border bg-primary">3</div></div>
    <div class="col-md-3 "><div class="border bg-primary">4</div></div>
  </div>
  <div class="row gx-2">
    <div class="col-md-3 "><div class="border bg-primary">1</div></div>
    <div class="col-md-3 "><div class="border bg-primary">2</div></div>
    <div class="col-md-3 "><div class="border bg-primary">3</div></div>
    <div class="col-md-3 "><div class="border bg-primary">4</div></div>
  </div>
  <div class="row gx-3">
    <div class="col-md-3 "><div class="border bg-primary">1</div></div>
    <div class="col-md-3 "><div class="border bg-primary">2</div></div>
    <div class="col-md-3 "><div class="border bg-primary">3</div></div>
    <div class="col-md-3 "><div class="border bg-primary">4</div></div>
  </div>
  <div class="row gx-4">
    <div class="col-md-3 "><div class="border bg-primary">1</div></div>
    <div class="col-md-3 "><div class="border bg-primary">2</div></div>
    <div class="col-md-3 "><div class="border bg-primary">3</div></div>
    <div class="col-md-3 "><div class="border bg-primary">4</div></div>
  </div>
  <div class="row gx-5">
    <div class="col-md-3 "><div class="border bg-primary">1</div></div>
    <div class="col-md-3 "><div class="border bg-primary">2</div></div>
    <div class="col-md-3 "><div class="border bg-primary">3</div></div>
    <div class="col-md-3 "><div class="border bg-primary">4</div></div>
  </div>
</div>


<div class="container  text-center">
  <div class="row gx-5">
    <div class="col">
     <div class=" border bg-light">Custom column padding</div>
    </div>
    <div class="col">
      <div class=" border bg-light">Custom column padding</div>
    </div>
  </div>
</div>
