<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap Levels</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.css">

    <link rel="stylesheet" href="/my_styles.css">
    
  </head>

  <body>
    <div class="container py-5">
      <%= yield %>
    </div>
  </body>
</html>

